.headSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.headCls {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
}
my-layout {
  width: 100%;
}